In [337]:
import pandas as pd

In [338]:
df = pd.read_csv('./Data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('./Data/survey_results_schema.csv', index_col='Column')

In [339]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [340]:
df.head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [341]:
people = {
    "first":["Corey", "Jane", "John"],
    "last":["Schafer", "Doe", "Doe"],
    "email":["CodeyMSchafer@gmail.com" , "JaneDoe@email.com", "JohnDoe@email.com"]
}

In [342]:
Dictionary_df = pd.DataFrame(people)

In [343]:
Dictionary_df

   first     last                    email
0  Corey  Schafer  CodeyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [344]:
Dictionary_df['email']

0    CodeyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [345]:
Dictionary_df.email

0    CodeyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [346]:
Dictionary_df[['last', 'email']]

      last                    email
0  Schafer  CodeyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [347]:
Dictionary_df.columns

Index(['first', 'last', 'email'], dtype='object')

In [348]:
Dictionary_df.iloc[[0,1]]

   first     last                    email
0  Corey  Schafer  CodeyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [349]:
Dictionary_df.loc[[0,1], 'email']

0    CodeyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [350]:
df['Hobbyist'].value_counts()

Hobbyist
Yes    71257
No     17626
Name: count, dtype: int64

In [351]:
df.loc[1:4,'Hobbyist']

Respondent
1    Yes
2     No
3    Yes
4     No
Name: Hobbyist, dtype: object

In [352]:
# Dictionary_df.set_index('email', inplace=True)

In [353]:
Dictionary_df

   first     last                    email
0  Corey  Schafer  CodeyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [354]:
Dictionary_df.index

RangeIndex(start=0, stop=3, step=1)

now integer indexes will give us a type error while using .loc() .
Hence, instead use iloc().

In [355]:
# Dictionary_df.loc['CodeyMSchafer@gmail.com', 'last']

In [356]:
# Dictionary_df.reset_index(inplace=True)

In [357]:
Dictionary_df

   first     last                    email
0  Corey  Schafer  CodeyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [358]:
schema_df.loc['Hobbyist']

QuestionText    Do you code as a hobby?
Name: Hobbyist, dtype: object

In [359]:
filt = (Dictionary_df['last'] == 'Schafer') | (Dictionary_df['first'] == 'Joe')

In [360]:
Dictionary_df[filt]

   first     last                    email
0  Corey  Schafer  CodeyMSchafer@gmail.com

In [361]:
Dictionary_df.loc[~filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [362]:
high_salary = (df['ConvertedComp'] > 70000)

In [363]:
countries = ['India' , 'United States', 'Germany', 'United Kingdom']

In [364]:
my_country = df['Country'].isin(countries)

In [365]:
df.loc[high_salary,['Country', 'LanguageWorkedWith', 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88876,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88877,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88878,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88879,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88882,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [366]:
df.loc[my_country, 'Country']

Respondent
1        United Kingdom
4         United States
8                 India
10                India
13        United States
              ...
84539    United Kingdom
85642     United States
85961    United Kingdom
86012             India
88282     United States
Name: Country, Length: 41613, dtype: object

In [367]:
python_filter = (df['LanguageWorkedWith'].str.contains('Python', na=False))

In [368]:
df.loc[python_filter, 'LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                               ...
84539    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
85738      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
86566      Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
87739             C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88212                           HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object

In [369]:
Dictionary_df.columns

Index(['first', 'last', 'email'], dtype='object')

In [370]:
Dictionary_df.columns = ['First name', 'Last name', 'Email']

In [371]:
Dictionary_df

  First name Last name                    Email
0      Corey   Schafer  CodeyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [372]:
Dictionary_df.columns = [x.lower() for x in Dictionary_df.columns]

In [373]:
Dictionary_df

  first name last name                    email
0      Corey   Schafer  CodeyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [374]:
Dictionary_df.columns = Dictionary_df.columns.str.replace(' ', '_')

In [375]:
Dictionary_df

  first_name last_name                    email
0      Corey   Schafer  CodeyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [376]:
Dictionary_df.rename(columns={'first_name' : 'first', 'last_name' : 'last'}, inplace=True)

In [377]:
Dictionary_df

   first     last                    email
0  Corey  Schafer  CodeyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [378]:
Dictionary_df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']

In [379]:
Dictionary_df

   first     last                    email
0  Corey  Schafer  CodeyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith      JohnSmith@email.com

In [380]:
Dictionary_df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']

In [381]:
Dictionary_df

   first     last                    email
0  Corey  Schafer  CodeyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [382]:
Dictionary_df.loc[2, 'last'] = 'Smith'

In [383]:
Dictionary_df

   first     last                    email
0  Corey  Schafer  CodeyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [384]:
Dictionary_df.at[2,'last'] = 'Doe'

In [385]:
Dictionary_df

   first     last                    email
0  Corey  Schafer  CodeyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [386]:
Dictionary_df['email'] = Dictionary_df['email'].str.lower()

In [387]:
Dictionary_df

   first     last                    email
0  Corey  Schafer  codeymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John      Doe        johndoe@email.com

In [388]:
Dictionary_df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [389]:
def update_email(email):
    return email.upper()

In [390]:
Dictionary_df['email'].apply(update_email)

0    CODEYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [392]:
Dictionary_df['email'] = Dictionary_df['email'].apply(update_email)

In [393]:
Dictionary_df

   first     last                    email
0  Corey  Schafer  CODEYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@EMAIL.COM
2   John      Doe        JOHNDOE@EMAIL.COM

In [394]:
Dictionary_df['email'] = Dictionary_df['email'].apply(lambda x:x.lower())

In [395]:
Dictionary_df

   first     last                    email
0  Corey  Schafer  codeymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John      Doe        johndoe@email.com

In [396]:
Dictionary_df.apply(len)

first    3
last     3
email    3
dtype: int64

In [397]:
Dictionary_df.apply(len, axis = 'columns')

0    3
1    3
2    3
dtype: int64

In [402]:
Dictionary_df.apply(pd.Series.min)

first                      Corey
last                         Doe
email    codeymschafer@gmail.com
dtype: object

In [403]:
Dictionary_df.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    codeymschafer@gmail.com
dtype: object

In [405]:
Dictionary_df.map(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     3     17

In [406]:
Dictionary_df.map(str.lower)

   first     last                    email
0  corey  schafer  codeymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john      doe        johndoe@email.com

In [410]:
df.rename(columns={'ConvertedComp':'SalaryUSD'}, inplace=True)

In [411]:
df['SalaryUSD']

Respondent
1            NaN
2            NaN
3         8820.0
4        61000.0
5            NaN
          ...
88377        NaN
88601        NaN
88802        NaN
88816        NaN
88863        NaN
Name: SalaryUSD, Length: 88883, dtype: float64

In [414]:
df['Hobbyist'] = df['Hobbyist'].map({'Yes': True ,'No': False})

In [415]:
df['Hobbyist']

Respondent
1         True
2        False
3         True
4        False
5         True
         ...
88377     True
88601    False
88802    False
88816    False
88863     True
Name: Hobbyist, Length: 88883, dtype: bool